<!--<h2>{{ contact.name | uppercase }} Details</h2>--><h2>Contacts</h2>
<div>
  <label>Contact name:
    <input #contactName/>
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(contactName.value); contactName.value=''">
    add
  </button>

</div>
<ul class="contacts">
  <li *ngFor="let contact of contacts">
    <a routerLink="/detail/{{contact.contactId}}">
      <span class="badge">{{contact.contactId}}</span> {{contact.name.lastNameOrCompanyName}}, {{contact.name.firstName}}
    </a>
    <button class="delete" title="delete contact" (click)="delete(contact)">x</button>
  </li>
</ul>
