<div id="search-component" class="component">

  <div class="example-container">
    <mat-form-field class="example-full-width" class="component">
      <input matInput placeholder="Lastname or firstname" #searchBox id="search-box" (keyup)="search(searchBox.value)"/>
    </mat-form-field>

    <!--<mat-form-field>-->
    <!--<textarea matInput placeholder="Textarea"></textarea>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
    <!--<mat-select placeholder="Select">-->
    <!--<mat-option value="option">Option</mat-option>-->
    <!--</mat-select>-->
    <!--</mat-form-field>-->
  </div>

  <!--<mat-form-field class="example-full-width">-->
  <!--<input matInput placeholder="Search string" #searchBox id="search-box" (keyup)="search(searchBox.value)"/>-->
  <!--</mat-form-field>-->

  <!--<ul class="search-result">-->
    <!--<li *ngFor="let contact of contacts$ | async">-->
      <!--<a routerLink="/detail/{{contact.contactId}}">-->
        <!--{{contact.name.lastNameOrCompanyName}}, {{contact.name.firstName}}-->
      <!--</a>-->
    <!--</li>-->
  <!--</ul>-->

  <table mat-table [dataSource]="contacts$" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="contactId">
      <th mat-header-cell *matHeaderCellDef>Id.</th>
      <td mat-cell *matCellDef="let element">{{element.contactId}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>Lastname</th>
      <td mat-cell *matCellDef="let element"> {{element.name.lastNameOrCompanyName}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="lastNameOrCompanyName">
      <th mat-header-cell *matHeaderCellDef>Firstname</th>
      <td mat-cell *matCellDef="let element">{{element.name.firstName}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClicked(row)"></tr>
  </table>
</div>
