<h1 *ngIf="this.isNew()" class="primary-header">{{ 'person-detail.title-new' | translate }}</h1><h1 *ngIf="!this.isNew()"
                                                                                      class="primary-header">{{
  personDetailForm.get('lastNameOrCompanyName').value | uppercase }}, {{
  personDetailForm.get('firstName').value |
  uppercase
  }}</h1>
<div class="container">

  <!--<mat-tab-group>-->
    <!--<mat-tab label="Person data">-->

      <form (ngSubmit)="save(personDetailForm.value)" [formGroup]="personDetailForm">

        <label class="label">
          <app-messages></app-messages>
        </label>

        <div fxLayout="column" fxLayoutGap="50px">

          <mat-card>

            <mat-card-content fxLayout="column">
              <mat-form-field appearance="outline" class="component" gdArea="id">
                <mat-label>{{ 'member-id' | translate }}</mat-label>
                <input name="id" matInput placeholder="Id" formControlName="id" readonly>
              </mat-form-field>

              <mat-form-field appearance="outline" gdArea="type">
                <mat-label>{{ 'person-type' | translate }}</mat-label>
                <mat-select name="personType" [disabled]="!this.isNew()" formControlName="type">
                  <mat-option *ngFor="let personType of types" [value]="personType">
                    {{ personType.viewValue | translate }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <div fxLayout="row wrap">
                <mat-form-field appearance="outline" *ngIf="isPerson()" class="component" gdArea="firstName">
                  <mat-label>{{ 'firstName' | translate }}</mat-label>
                  <input name="firstName" matInput formControlName="firstName">
                  <mat-error *ngFor="let validation of validation_messages.firstName">
                    <mat-error class="error-message"
                               *ngIf="personDetailForm.get('firstName').hasError(validation.type) && (personDetailForm.get('firstName').dirty || personDetailForm.get('firstName').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" gdArea="lastName">
                  <mat-label>{{ 'lastNameOrCompanyName' | translate }}</mat-label>
                  <input name="lastNameOrCompanyName" matInput formControlName="lastNameOrCompanyName">
                  <mat-error *ngFor="let validation of validation_messages.lastName">
                    <mat-error class="error-message"
                               *ngIf="personDetailForm.get('lastNameOrCompanyName').hasError(validation.type) && (personDetailForm.get('lastNameOrCompanyName').dirty || personDetailForm.get('lastNameOrCompanyName').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </mat-form-field>
              </div>

              <mat-form-field *ngIf="isPerson()" appearance="outline" gdArea="birthDate">
                <mat-label>{{ 'birthDate' | translate }}</mat-label>
                <input matInput [matDatepicker]="dp" formControlName="birthDate">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
                <mat-error *ngFor="let validation of validation_messages.birthDate">
                  <mat-error class="error-message"
                             *ngIf="personDetailForm.get('birthDate').hasError(validation.type) && (personDetailForm.get('birthDate').dirty || personDetailForm.get('birthDate').touched)">
                    {{validation.message}}
                  </mat-error>
                </mat-error>

              </mat-form-field>

              <mat-form-field *ngIf="isPerson()" appearance="outline" gdArea="sex">
                <mat-label>{{ 'gender' | translate }}</mat-label>
                <mat-select formControlName="sex">
                  <mat-option *ngFor="let sex of sexes" [value]="sex">
                    {{ sex.viewValue | translate }}
                  </mat-option>
                </mat-select>
                <mat-error *ngFor="let validation of validation_messages.sex">
                  <mat-error class="error-message"
                             *ngIf="personDetailForm.get('sex').hasError(validation.type) && (personDetailForm.get('sex').dirty || personDetailForm.get('sex').touched)">
                    {{validation.message}}
                  </mat-error>
                </mat-error>
              </mat-form-field>
            </mat-card-content>
          </mat-card>
          <!--</mat-tab>-->

          <!--<mat-tab label="Street Address" fxLayout="column" >-->

          <mat-card formGroupName="address">
            <mat-card-content fxLayout="column">
              <div>
                <mat-form-field appearance="standard">
                  <mat-label>{{ 'street' | translate }}</mat-label>
                  <input matInput placeholder="" formControlName="street">
                </mat-form-field>
                <mat-form-field appearance="standard">
                  <mat-label>{{ 'houseNumber' | translate }}</mat-label>
                  <input matInput placeholder="" formControlName="streetNumber">
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="standard">
                  <mat-label>{{ 'zip' | translate }}</mat-label>
                  <input matInput placeholder="" formControlName="zip">
                </mat-form-field>
                <mat-form-field appearance="standard">
                  <mat-label>{{ 'city' | translate }}</mat-label>
                  <input matInput placeholder="" formControlName="city">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <mat-label>{{ 'country' | translate }}</mat-label>
                  <input type="text"
                         matInput
                         formControlName="isoCountryCode"
                         [matAutocomplete]="auto">

                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let country of filteredOptions | async" [value]="country">
                      {{country.Name}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

              </div>
            </mat-card-content>
          </mat-card>
          <!--</mat-tab>-->

          <!--<mat-tab label="Contact Info" fxLayout="column">-->

          <mat-card>
            <mat-card-content fxLayout="column">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'email-address' | translate }}</mat-label>
                <input name="emailAddress" matInput placeholder="me@mail.com" formControlName="emailAddress">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>{{ 'phone-number' | translate }}</mat-label>
                <input name="phoneNumber" matInput placeholder="" formControlName="phoneNumber">
              </mat-form-field>
            </mat-card-content>
          </mat-card>
          <!--</mat-tab>-->

          <!--</mat-tab-group>-->
          <button class="submit-btn" color="primary" mat-raised-button type="submit" [disabled]="!personDetailForm.valid">Save
            Person data
          </button>

        </div>
      </form>

    <!--</mat-tab>-->
    <!--<mat-tab>-->

      <!--<app-member-detail></app-member-detail>-->

    <!--</mat-tab>-->
  <!--</mat-tab-group>-->

</div>
