<div *ngIf="person" class="container">

  <h2 *ngIf="this.isNew()">New Person</h2>
  <h2 *ngIf="!this.isNew()">{{ person.basicData.name.lastNameOrCompanyName | uppercase }}, {{ person.basicData.name.firstName |
    uppercase
    }}</h2>
  <p>
    <mat-label>Id: {{person.id}}</mat-label>
  </p>
  <form (ngSubmit)="onSubmit()" #basicForm="ngForm">
    <mat-card class="example-container">

      <mat-card-title>Basic data</mat-card-title>

      <mat-card-content class="example-container">

        <mat-form-field appearance="standard">
          <mat-label>Type</mat-label>
          <mat-select name="contactType" [(ngModel)]="person.type" [disabled]="!this.isNew()">
            <mat-option *ngFor="let contactType of types" [value]="contactType.value">
              {{ contactType.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="standard" *ngIf="isPerson()">
          <mat-label>First name</mat-label>
          <input name="firstName" [(ngModel)]="person.basicData.name.firstName" matInput placeholder="">
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>Last name</mat-label>
          <input name="lastName" [(ngModel)]="person.basicData.name.lastNameOrCompanyName" matInput placeholder="" required>
        </mat-form-field>

        <mat-form-field *ngIf="isPerson()">
          <input matInput [matDatepicker]="dp" placeholder="Birth date" [formControl]="birthDateControl">
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp></mat-datepicker>

          <!--<input name="birthDateControl" matInput [matDatepicker]="picker" placeholder="Choose a date"-->
                 <!--[formControl]="birthDateControl"-->
                 <!--disabled>-->
          <!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
          <!--<mat-datepicker #picker disabled="false"></mat-datepicker>-->
        </mat-form-field>

        <mat-form-field *ngIf="isPerson()">
          <mat-label>Sex</mat-label>
          <mat-select name="sex" placeholder="Male or Female" [(ngModel)]="person.basicData.sex" >
            <mat-option *ngFor="let sex of sexes" [value]="sex.value">
              {{ sex.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>


      </mat-card-content>
    </mat-card>
    <!--<button type="submit" mat-raised-button [disabled]="!basicForm.form.valid">Submit</button>-->
  </form>

  <p></p>

  <mat-card class="example-container">
    <mat-card-title>Contact Info</mat-card-title>

    <mat-card-content class="example-container">
      <mat-form-field appearance="standard">
        <mat-label>E-Mail Address</mat-label>
        <input [(ngModel)]="person.contactData.emailAddress" matInput placeholder="" >
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Phone Number</mat-label>
        <input [(ngModel)]="person.contactData.phoneNumber" matInput placeholder="" >
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <p></p>

  <mat-card class="example-container" >
    <mat-card-title>Street Address</mat-card-title>

    <mat-card-content class="example-container">
      <div>
        <mat-form-field appearance="standard">
          <mat-label>Street</mat-label>
          <input [(ngModel)]="person.streetAddress.street" matInput placeholder="" required>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Number</mat-label>
          <input [(ngModel)]="person.streetAddress.streetNumber" matInput placeholder="">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="standard">
          <mat-label>Zip</mat-label>
          <input [(ngModel)]="person.streetAddress.zip" matInput placeholder="" required>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>City</mat-label>
          <input [(ngModel)]="person.streetAddress.city" matInput placeholder="" required>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Country</mat-label>
          <input [(ngModel)]="person.streetAddress.isoCountryCode" matInput placeholder="" required>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
  <p></p>
  <!--<button mat-raised-button (click)="goBack()">go back</button>-->
  <button mat-raised-button (click)="save()">save</button>
</div>
