<div class="container">

  <mat-card class="example-container">

    <mat-card-title>Welcome to Club Manager</mat-card-title>

    <mat-card-content class="example-container" *ngIf="isLoggedIn()">
      You are currently logged in as {{ name }}.
    </mat-card-content>
    <mat-card-content class="example-container" *ngIf="!isLoggedIn()">
      You are currently not logged in.
    </mat-card-content>

    <mat-card-actions>
      <button mat-button (click)="login()" [disabled]="isLoggedIn()">Login</button>
      <!--<button mat-button (click)="logoff()">Logout</button>-->
    </mat-card-actions>
  </mat-card>
</div>
