.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.example-container {
  display: flex;
  flex-direction: column;
  padding: 20px 50px 50px 20px;
}

.example-container > * {
  width: 100%;
}

table {
  width: 100%;
}
