<div class="container">

  <!--<h2>{{ member.lastNameOrCompanyName | uppercase }}, {{ member.firstName |-->
    <!--uppercase-->
    <!--}}</h2>-->
  <p>
    <mat-label>Id: {{member.id}}</mat-label>
  </p>
  <form (ngSubmit)="onSubmit()" #basicForm="ngForm">
    <mat-card class="example-container">

      <mat-card-title>Person data</mat-card-title>

      <mat-card-content class="example-container">

        <!--<mat-form-field appearance="standard">-->
          <!--<mat-label>First name</mat-label>-->
          <!--<input name="firstName" [(ngModel)]="member.firstName" matInput placeholder="">-->
        <!--</mat-form-field>-->

        <!--<mat-form-field appearance="standard">-->
          <!--<mat-label>Last name</mat-label>-->
          <!--<input name="lastName" [(ngModel)]="member.lastNameOrCompanyName" matInput placeholder="" required>-->
        <!--</mat-form-field>-->

      </mat-card-content>
    </mat-card>
    <!--<button type="submit" mat-raised-button [disabled]="!basicForm.form.valid">Submit</button>-->
  </form>

  <p></p>

  <p></p>
  <!--<button mat-raised-button (click)="goBack()">go back</button>-->
  <button mat-raised-button (click)="save()">save</button>
</div>
