<!--<div *ngIf="this.containsMessages()">-->
<div>
  <div *ngFor='let message of messageService.technicalErrors'>
    <mat-card class="technical-error-card">
      {{ message | translate }}
    </mat-card>
  </div>
  <div *ngFor='let message of messageService.businessErrors'>
    <mat-card class="business-error-card">
      {{ message | translate }}
    </mat-card>
  </div>
  <div *ngFor='let message of messageService.info'>
    <mat-card class="info-message-card">
      {{ message | translate }}
    </mat-card>
  </div>
</div>
