.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
  margin: 0px;
}

/*.test {*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*flex-grow: 1;*/
/*}*/
